<html ng-app="KNNApp">
	<head>
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="../global.css">

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			// Load the Visualization API and the piechart package.
			google.load('visualization', '1.0', {'packages':['corechart']});
		</script>
		<script type="text/javascript" src="../../lib/main.js"></script>
		<script type="text/javascript" src="../../lib/regression/KNeighbors.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="kneighbors.js"></script>
	</head>

	<body ng-controller="ExampleController" ng-init="init()">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="well">
								<div class="control-group">
									<label class="control-label"># of Neighbors</label>
									<input class="form-control" type="number" min="1" max="{{features.length}}" ng-model="neighbors" value="{{ neighbors }}">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 table-container">
							<div class="well">
								<h4>Training Data</h4>
								<table class="table table-striped">
									<thead>
										<th>Size</th>
										<th>Prediction</th>
										<th>Selling Price</th>
										<th>Error</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in trainingData">
											<td>{{ item[0]*1000|number }} sq ft</td>
											<td>{{ item[1]*1000|currency:'$' }}</td>
											<td>{{ item[2]*1000|currency:'$' }}</td>
											<td>{{ (item[2]-item[1])*1000|number }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6 table-container">
							<div class="well">
								<h4>Cross Validation Data</h4>
								<table class="table table-striped">
									<thead>
										<th>Size</th>
										<th>Prediction</th>
										<th>Selling Price</th>
										<th>Error</th>
									</thead>
									<tbody>
										<tr ng-repeat="item in validationData">
											<td>{{ item[0]*1000|number }} sq ft</td>
											<td>{{ item[1]*1000|currency:'$' }}</td>
											<td>{{ item[2]*1000|currency:'$' }}</td>
											<td>{{ (item[2]-item[1])*1000|number }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="well" id="chart_knn"></div>
				</div>
				<div class="col-md-6">
					<div class="well" id="chart_knn_predictions"></div>
				</div>
			</div>
		</div>
	</body>

</html>